{% extends "layout/coreui/principal.html.twig" %}
{% set active = 'people' %}
{% set title = person.firstName ~ ' '  ~ person.lastName %}

{% block content %}
    <div class="col-lg-9">
        <div class="card">
            <div class="card-header">
                <strong>{{ title }}</strong>
            </div>
            <div class="card-block">
                <div class="form-group">
                    <label for="firstName">{{ 'First Name'|trans }}</label>
                    <input type="text" class="form-control" name="firstName" value="{{ person.firstName }}" disabled>
                </div>
                <div class="form-group">
                    <label for="lastName">{{ 'Last Name'|trans }}</label>
                    <input type="text" class="form-control" name="lastName" value="{{ person.lastName }}" disabled>
                </div>
                <div class="form-group">
                    <label for="email">{{ 'Email'|trans }}</label>
                    <input type="text" class="form-control required" name="email" value="{{ person.email }}" disabled>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">{{ 'Phone Number'|trans }}</label>
                    <input type="text" class="form-control" name="phoneNumber" value="{{ person.phoneNumber }}"
                           disabled>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="createdAt">{{ 'Created At'|trans }}</label>
                        <input type="text" class="form-control" name="createdAt"
                               value="{{ person.createdAt|date('d/m/Y') }}" disabled>
                    </div>
                    <div class="col-md-6">
                        <label for="modifiedAt">{{ 'Modified At'|trans }}</label>
                        <input type="text" class="form-control" name="modifiedAt"
                               value="{{ person.modifiedAt|date('d/m/Y') }}" disabled>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="reset" class="btn btn-danger">{{ 'Exit'|trans }}</button>
            </div>
        </div>
    </div>
{% endblock %}