{% extends 'layout/coreui/principal.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>{{ 'My Groups'|trans }}</strong>
                    <small>{{ 'Groups you are member of'|trans }}</small>
                </div>
                <div class="card-block">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Grupo de Mejora Planificación Recursos Humanos</td>
                        </tr>
                        <tr>
                            <td>Equipo de Trabajo Competencias</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/col-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>{{ 'My Meetings'|trans }}</strong>
                    <small>{{ 'Meetings you are included in'|trans }}</small>
                </div>
                <div class="card-block">

                </div>
            </div>
        </div>
        <!--/col-->
    </div><!--/row-->
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>{{ 'My Tasks'|trans }}</strong>
                    <small>{{ 'Tasks assigned to you'|trans }}</small>
                </div>
                <div class="card-block">

                </div>
            </div>
        </div>
        <!--/col-->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <strong>{{ 'My Calendar'|trans }}</strong>
                    <small>{{ 'Meetings and deadlines for you'|trans }}</small>
                </div>
                <div class="card-block">

                </div>
            </div>
        </div>
        <!--/col-->
    </div><!--/row-->
{% endblock %}
