<div class="sidebar">

    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}"><i class="icon-speedometer"></i> Dashboard</a>
            </li>

            <li class="nav-title">
                {{ "Administration"|trans }}
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-user-female"></i> {{ 'People'|trans }}</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('people_admin') }}"><i class="icon-user-female"></i> {{ 'Management'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-user-female"></i> {{ 'Configuration'|trans }}</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-graduation"></i> {{ 'People'|trans }}</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('people_admin') }}"><i class="icon-puzzle"></i> {{ 'Administrar'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-graduation"></i> {{ 'Teachers'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-graduation"></i> {{ 'Configuration'|trans }}</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-trophy"></i> {{ 'Convocatorias'|trans }}</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-trophy"></i> {{ 'Listado'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-throphy"></i> {{ 'Configuration'|trans }}</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> {{ 'Events'|trans }}</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-star"></i> {{ 'Listado'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="icon-star"></i> {{ 'Configuration'|trans }}</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="icon-basket"></i> {{ 'Shop'|trans }}</a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-settings"></i> {{ 'Configuration'|trans }}</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('places_admin') }}" target="_top"><i class="icon-settings"></i> {{ 'Lugares'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_top"><i class="icon-settings"></i> {{ 'Colaboradores'|trans }}</a>
                    </li>
                </ul>
            </li>

            <li class="divider"></li>

            <li class="nav-title">
                Extras
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-star"></i> Pages</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_top"><i class="icon-star"></i> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_top"><i class="icon-star"></i> Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_top"><i class="icon-star"></i> Error 404</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_top"><i class="icon-star"></i> Error 500</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>
